.container {

    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination {

    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination h3 {

    margin-left: 10px;
    margin-right: 10px;
}